{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid">
    <div class="bg-custom row align-items-center justify-content-center vh-100">
        <div class="col-md-5">
            <div class="card bg-dark">
                <div class="car-body text-white">
                    <h2 class="card-title text-center mt-3">Editar evento</h2>
                    <form class="my-5" action="/update-event/{{ event.id }}" method="POST">
                        <div class="form-group row">
                            <label for="nombre"  class="col-sm-3 col-form-label mx-3">Nombre</label>
                            <div class="col-sm-8">
                              <input type="text" name="name" class="form-control" id="nombre" value="{{event.nombre}}" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fecha" class="col-sm-3 col-form-label mx-3">Fecha</label>
                            <div class="col-sm-8">
                              <input type="date"  name="date" class="form-control" id="fecha" min={{ date }} value={{ event.fecha }} required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="numero_asiento" class="col-sm-3 col-form-label mx-3">Numero de asientos</label>
                            <div class="col-sm-8">
                              <input type="number" name="number" class="form-control" id="numero_asiento" min="10" value="{{event.numero_asientos_total}}" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                              <button type="submit" class="btn btn-info mx-5 mt-3  col-sm-10 font-weight-bold">Actualizar</button>
                            </div>
                            <div class="col-sm-12">
                              <a class="btn btn-secondary mx-5 mt-3  col-sm-10 font-weight-bold" href="/events-active">Volver</a>
                            </div>
                        </div>
                    </form>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show col-sm-10 mx-5 mt-3" role="alert">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}