{% extends 'layout.html' %}
{% block body %}
<div class="bg-custom row align-items-center justify-content-center vh-100">
    <div class="card w-20 bg-dark text-white">
      <div class="card-body">
        <h2 class="card-title text-center"> Base de datos</h2>
          <p class="card-text">Problema numero 4, Sistema de Registro en Línea</p>
          <div class="list-group ">
              <a class="bg-secondary text-white  btn list-group-item my-2" href="eventos">
                   Eventos
               </a>
                <a class="bg-secondary text-white btn list-group-item my-2" href="/registrar-reserva">
                   Registrar reserva
               </a>
          </div>
      </div>
    </div>
</div>
{% endblock %}